*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    
        box-sizing: border-box;
        font-family: 'Open Sans', san-serif;
        background-color: #29343d;
        color: #ffffff;
      

}
#navbar
{
    background-color: black;
    height: 60px;
    /* border-radius: 0%; */
     position: relative; 
     top: 0px;
     

    /* text-align: center; */
}
button{
    background-color: #f08804;
}
#logo
{
    color: #f08804;
    font-size: 30px;
    font-family: cursive;
    
}

a
{
    margin-right: 200px;
    color: whitesmoke;
    font-style: bold;
    text-decoration: none;
}
body{
    h1{
        text-align:center;
        width: 90%;
        font-size: 3rem;
        letter-spacing: .5rem;
        margin: 2rem 3rem;
        //padding: 3rem;
      }
      $colors: (gold, 
                #03a9f4, 
                coral, 
                #e6bc2f,
                #30a7d7,
                darksalmon,
                rgba(38, 95, 163, 0.8),
                darkseagreen,
                rgba(2, 143, 118, 0.8),
                sandybrown);
      @for $i from 1 through length($colors)
      {
        #item-#{$i} {
          border : 2.5px solid nth($colors, $i);
          &:hover{
            background-color: nth($colors, $i);
          }
        }  
      }
      .main-container{
        width: 90%;
        height: 100vh;
        //grid-template-columns: 10vw minmax(50px, 50vw) repeat(2, 1fr);	
          //grid-template-rows: repeat(10, min-content);
          margin: 2rem 3rem;
        padding: 3rem;
        color: #717388;
        font-size: 1.2rem;
        
        display: grid;
        grid-gap: 16px;
        background:rgba(107, 107, 107, 0.1);
      }
      .grid-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        &:hover{
          color: #fff;
        }
          &:nth-child(1){
            grid-column: 1 ;
            grid-row: span 3;
            ::after{
              content: ' safa';
            }
          }
          &:nth-child(2){
            grid-column: 2 ;
            grid-row: span 5;
            
          }
          &:nth-child(3){
            align-items: flex-end;
            justify-content: flex-end;
            grid-column: 3 ;
            grid-row: span 2;
          }
          &:nth-child(4){
            align-items: flex-start;
            justify-content: flex-end;
            grid-column: 4 ;
            grid-row: span 4;
          }
          &:nth-child(5){
            grid-column: 1 ;
            grid-row: span 3;
            align-items: flex-end;
            justify-content: flex-start;
          }
          &:nth-child(6){
            grid-column: 2 ;
            grid-row: span 2;
            align-items: flex-start;
            
          }
          &:nth-child(7){
            grid-column: 3 ;
            grid-row: 3 / span 5;
            justify-content: flex-start;
          }
          &:nth-child(8){
            grid-column: 4 ;
            grid-row: 5 / span 2;
            align-items: flex-end;
          }
          &:nth-child(9){
            grid-column: 4 ;
            grid-row: span 1;
          }
      
}


